@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins";
  font-style: normal;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.menu-list {
  list-style: none;
  color: white;
}

.menu-item {
  display: inline-block;
  padding: 25px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: #344563;
}

.nav-logo {
  display: flex;

  font-weight: 700;
  line-height: 20px;
  font-size: 18px;
  color: #6070ff;
}
.mob-menu {
  display: none;
}
.mob-menu-bar {
  width: 20px;
  height: 3px;
  background-color: #344563;
  margin-top: 4px;
}
/*start styling bio section*/
.bio-content {
  display: flex;
  flex-direction: column;
  height: 600px;
  padding-left: 18%;
  padding-right: 18%;
}

@media all and (max-width: 375px) {
  .nav-bar {
    flex-direction: column;
  }
  .mob-menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .nav-logo {
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
  }
  .menu-item {
    display: none;
  }
}
